@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f3f3f3;
  padding-right: 1rem;
  cursor: pointer;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 4;
  padding: 8px;
}
